.movie-card {
  padding: 1rem;
  position: relative;
  transition: all 0.2s;
  width: 22rem;
  margin: 2rem;
  cursor: pointer;

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    transform: scale(1.05);
  }

  &__poster {
    height: 30rem;
    box-shadow: 0 0.2rem 3.5rem 2rem rgba(#000, 0.4);
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 0.2rem 3rem 1.4rem #000;
    }

    &--image {
      height: 30rem;
      width: 20rem;
      object-fit: cover;
    }
    &--movie-card__poster {
      margin: 0 auto;
      max-width: 22rem;
      padding: 0px;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    &--info {
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      text-align: center;
    }
  }

  .overlay {
    height: 30rem;
    width: 20rem;
    top: 1rem;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.3s 0.1s;
    flex-direction: column;
    padding: 2rem;
    word-break: break-word;

    &:hover {
      opacity: 1;
    }
  }
}
